<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- File Target: Write logs to a file -->
		<target xsi:type="File"
				name="logfile"
				fileName="${basedir}/Logs/web_api_log_app_${shortdate}.log"
				layout="[${longdate}] [${uppercase:${level}}] ${message} ${exception:format=tostring}"
				archiveAboveSize="5242880"
				archiveNumbering="Sequence"
				archiveFileName="${basedir}/Logs/web_api_log_app_${shortdate}.{#}.log"
				maxArchiveFiles="5" />

		<!-- Console Target: Write logs to the console -->
		<target xsi:type="Console" 
				name="console"
                layout="${longdate} [${level:uppercase=true}] [${callsite}] ${message} - Product: ${event-properties:item=productName}" />

		
	</targets>

	<rules>
		<!-- Log to Console and File -->
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<logger name="*" minlevel="Info" writeTo="console,logfile" />

		
	</rules>

</nlog>